body {
    font-family: 'Rubik Mono One', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f6f7;
    background-image: url('Camaleon.jpg');
    background-size: cover;
    background-position: center;
    color: #58abe2;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(248, 250, 252, 0.8);
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid #5395e0;
}

h1 {
    text-align: center;
    color: #228B22;
    text-shadow: 2px 2px #006400;
}

textarea {
    width: 95%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #5395e0;
    border-radius: 6px;
    resize: none;
    background-color:rgba(248, 250, 252, 0.8);
    color: #006400;
    font-family: 'Courier New', monospace;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #48e9c3;;
    color: rgb(18, 92, 40);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 1px 1px #f9fcfb;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00ffbf;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(248, 250, 252, 0.8);
    border: 2px solid #58abe2;
    border-radius: 6px;
    color: #04500a;
    font-family: 'Courier New', monospace;
}

footer {
    text-align: center;
    padding: 9px;
    background-color: #2E8B57;
    color: white;
    font-size: 14px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
